*{
    margin: 0;
    padding: 0;
}
.container{
    background-color: rgb(43, 231, 222);
    height: 75vh;
    width: 24vw;
    margin: auto;
    border:2px solid rgb(4, 82, 53);
    border-radius: 8px;
    margin-top: 15vh;
}

input{
    margin-top: 3vh;
    margin-left: 22px;
    font-size: larger;
    width: 20vw;
    height: 5vh;
    border: 2px solid black;
    border-radius: 7px;
}


 .button{
    height:8vh;
    width:8vh;
    font-weight: bold;
    font-size: larger;
    background-color: rgb(4, 4, 58);
    color: white;
    border: 2px white solid;
    border-radius: 100%;
}

.line1{
    margin-left: 3.5vw;
    margin-top: 3vh;
}
.line2{
    margin-left: 3.5vw;
    margin-top: 1.5vh;
}
.line3{
    margin-left: 3.5vw;
    margin-top: 1.5vh;
}
.line4{
    margin-left: 3.5vw;
    margin-top: 1.5vh;
}
.line5{
    margin-left: 3.5vw;
    margin-top: 1.5vh;
}


.myname{
    background-color: gray;
    color: white;
    border: 2px solid black;
    border-radius: 7px;
    width: 17vw;
    height:4vh ;
    margin-left: 3.5vw;
    margin-top: 2vh;
    text-align: center;
    padding: 2px;
}
img{
    display: inline-flex;
    height: 4vh;
    margin-left: 1.5vw;
    margin-top: 3vh;
}


body{
    background-color: rgb(54, 205, 172);
}

header{
    color: black;
    font-weight: bolder;
    font-size: larger;
}